.list {
  display: flex;
}

.listContainer {
  flex: 6;
}

.datatable {
  height: 500px;
  padding: 20px;
  width: 96.5%;
  background-color: white;
}

.vacancyContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}
