.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  box-sizing: border-box;
  background-color: #343a40;
  position: sticky;
  /* padding: 30px 20px; */
  width: 150px;
}

.sidebarWrapper {
  padding: 20px;
  color: white;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  /* background-color: #f8f9fa; */
  font-weight: bolder;
  font-size: larger;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}

.link,
link:hover,
link:focus,
link:active {
  text-decoration: none;
  color: inherit;
}

.sidebarUpper {
  position: relative;
}

.toggle-menu-btn {
  display: inline-block;
  color: black;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
